{% extends "base.html" %}
{% block content %}

	<link rel="stylesheet" href="/static/css/tables.css">
	
	<div class="container">
		{% if couriers %}
		<h2>Completed COD</h2>
		<a href="/">Go back home</a>
		<table>
		  <tr class="capitalise">
		    <th>Receiver</th>
		    <th>Receiver Roll</th>
		    <th>Title</th> 
		    <th>Tracking Id</th>
		    <th>Amount</th>
		  </tr>
		  {% for item in couriers %}
		  	<tr>
		  		<td> {{item.User.fname}} </td>
		  		<td class="capitalise"> {{item.User.roll}} </td>
		  		<td> {{item.CourierCod.title}} </td>
		  		<td> {{item.CourierCod.tracking_id}}</td>
		  		<td> {{item.CourierCod.amount}}</td>
		  	</tr>
		  {% endfor %}
		</table>
		{% else %}
		  	<h2>No Completed COD Couriers</h2>
		{% endif %}
	</div>
{% endblock %}