{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% if couriers %}
		<h2>Collected Couriers</h2>
		<table>
		  <tr>
		    <th>Receiver</th>
		    <th>Receiver Roll</th>
		    <th>Title</th> 
		    <th>Tracking Id</th>
		    <th>Collected On</th>
		  </tr>
		  {% for item in couriers %}
		  	<tr>
		  		<td> {{item.User.fname}} </td>
		  		<td> {{item.User.roll}} </td>
		  		<td> {{item.Courier.title}} </td>
		  		<td> {{item.Courier.tracking_id}}</td>
		  		<td> {{item.Courier.collected_time}}</td>
		  	</tr>
		  {% endfor %}
		</table>
		{% else %}
		  	<h2>No Collected Couriers</h2>
		{% endif %}
	</div>
{% endblock %}