{% extends "base.html" %}
{% block content %}

	<link rel="stylesheet" href="/static/css/tables.css">

	<div class="container">
		{% if couriers %}

		<h2>Uncollected Couriers</h2>
		<a href="/">Go back home</a>
		
		<table>
		  <tr class="capitalise">
		    <th>Receiver</th>
		    <th>Receiver Roll</th>
		    <th>Title</th> 
		    <th>Tracking Id</th>
		    <th>Mark Collected</th>
		    <th>Mark Returned</th>
		  </tr>
		  {% for item in couriers %}
		  	<tr>
		  		<td> {{item.User.fname}} </td>
		  		<td class="capitalise"> {{item.User.roll}} </td>
		  		<td> {{item.Courier.title}} </td>
		  		<td> {{item.Courier.tracking_id}}</td>
		  		<td> <button type="button" onclick="window.location.href='/admin/mark?id={{item.Courier.id}}'">Mark Collected</button> </td>
		  		<td> <button type="button" onclick="window.location.href='/admin/returned?id={{item.Courier.id}}'">Mark Returned</button> </td>
		  	</tr>
		  {% endfor %}
		</table>
		{% else %}
		  	<h2>No Uncollected Couriers</h2>
		{% endif %}
	</div>
{% endblock %}